.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone, .email, .label{
	font-family: Oswald;
	font-style: normal;
	font-weight: 700;
	color: $black;
  text-decoration: none;
	}

.phone{
  // text-transform: uppercase;
}
.adress {
  // background: url("../images/icon_adress.png") no-repeat left center / 40px 20px;
  // background: url("../images/icon_sprite_2.png") no-repeat left -1822px;
  padding: 8px 0 8px 40px;
  font-size: 16px;
  font-weight: bold;
}
.site-map {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed $light;
}
