.footer {
  // .footer__wrapper
  // padding: 20px 0;

  &__wrapper {
    max-width: calc(100% - 6px);
    margin: 0 auto;
  }

  // .footer__container
  &__container {
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    @include adaptiv-value(padding-top, 100, 50, 1);
    background: $bg-grey;
    @media (max-width:$md5+px){
      padding: 10px;
      @include adaptiv-value(padding-top, 30, 20, 1);
    }
  }
		// .footer__row
		&__row {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      flex-wrap: wrap;
      // margin: 0 0 60px 0;
      @include adaptiv-value(margin-bottom, 40, 15, 1);
    }
		// .footer__column
		&__column {
      flex: 1 1 30%;
      &:first-child{
        margin: 0 20px 0 0;
      }
    }
		// .footer__logo
		&__logo {
      flex: 1 1 auto;
      @include adaptiv-value(margin-bottom, 20, 10, 1);
    }
		// .footer__location
		&__location {
      font-family: Oswald;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
		// .footer__adress
		&__adress {

    }
		// .footer__worktime
		&__worktime {}
		// .footer__contacts
		&__contacts {
      display: flex;
      flex-direction: column;
    }

}

.contacts-footer {
		// .contacts-footer__email
		&__email {}
		// .contacts-footer__label
		&__label {}
		// .contacts-footer__phone
		&__phone {}
		// .contacts-footer__request
		&__request {
          color: $bg-item ;
    }
}

.footer-list {
        font-family: Oswald;
		// .footer-list__title
		&__title {
      display: block;
      font-weight: 900;
      font-size: 18px;
      line-height: 27px;
      margin: 0 0 15px 0;

    }
		// .footer-list__body
		&__body {
      font-size: 14px;
      line-height: 21px;
      margin: 0 0 30px 0;
      // & li {
        
      // }
    }
		// .footer-list__link
		&__link {
      color: $bg-item ;
      display: block;
      @media (max-width:$md2+px){
        @include adaptiv-value(padding-bottom, 10, 20,1);
      }

    }
}

.footer-formalities {
		// .footer-formalities__item
		&__item {
      font-size: 14px;
      line-height: 21px;
      flex: 1 1 30%;
      white-space: nowrap;
    }
}
