.logo {
  max-width: 288px;
  display: flex;
  align-items: center;
  color: #333;
  flex: 1 0 auto;
  // font-size: 14px;

  line-height: 1;
  &__img {
    height: auto;
    max-width: 64px;
    margin: 0px 17px 0px 0px;
    & img {
      // object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media (max-width:$md2+px){
      margin: 0px 16px 0px 0px;
    }
    @media screen and (max-width: 576px) {
      // max-width: 80px;
      margin: 0px 5px 0px 0px;
    }
    @media screen and (max-width: 400px) {
      max-width: 48px;
    }
  }
  // .logo__desciption
  &__desciption {
    max-height: 75px;
    
  }
  // .logo__title
  &__title{
    display: block;
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 24px;  
    // @include adaptiv-font(24,16,1);
    line-height: 31px;
    color: #010101;
    text-align: left;
    margin: -2px 0 2px 0;
    @media (max-width:$md2+px){
      font-size: 18px;
      line-height: 22px;
    }
  }
  // .logo__text
  &__text {
    display: block;
    font-family: "Oswald", serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    // @include adaptiv-font("14","12","1");    
    line-height: 21px;
    @media (max-width:$md1+px){
      font-size: 12px;
      line-height: 18px;
    }
    @media (max-width:$md4+px){
      font-size: 10px;
      line-height: 15px;  
    }
  }
}

.logo:hover {
  text-decoration: none;
  // color: #333;
}

.header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  // padding: 20px 30px;
  // .header__top
  &__top {
    // padding: 20px 0 0 0;
    // margin: 20px 0 0 0;
    // width: 100%;

    // position: fixed;
    // z-index: 4;
    // background: #fff;

    // top: 0;
    // &._active {
    //   position: fixed;
    //   z-index: 4;
    //   background: #fff;
    // }
  }
}


.top-header {
  // .top-header__container
  &__container {
    padding: 20px 30px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-grey;

    // margin: 0px 0px 10px 0px;
    // padding: 0 20px;
    // @media screen and ( max-width: 450px){
    // 	padding: 0 10px;
    // }
    // @media (max-width: $md3+px) {
    //   padding: 0 10px;
    // }
    @media (max-width:$md2+px){
      padding: 20px;
    }
    @media (max-width:$md3+px){
      padding: 15px 0;
      @include adaptiv-value(padding-right,20,7,1);
      @include adaptiv-value(padding-left,20,7,1);
    }
    @media (max-width:$md4+px){
      padding: 10px 20px;
    }
  }
  // .top-header__liaison
  &__liaison {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    max-width: 721px;
    // width: 100%;
  }
}

.liaison-header{
// .liaison-header{__column
&__column {
  // flex: 0 1 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  @include adaptiv-value(margin-right, 37, 10, 1);
  flex: 1 0 auto;
  @media (max-width:$md1+px){
      // flex: 1 1 33%;
  }
  &_email {

  }
}

&__column:last-child {
  margin-right: 0;
}


&__contacts {
  font-size: 24px;
  line-height: 36px;
  max-width: 275px;

  @media screen and (max-width: 1100px) {
    font-size: 20px;
    line-height: 30px;
  }
  @media screen and (max-width: $md2+px) {
    font-size: 16px;
    line-height: 27px;
  }

  @media screen and (max-width: $md3+px) {
    // font-size: $font-md3-1;
  }
  @media (max-width: 580px) {
    // font-size: ($font-md4-1 + 3px);
  }
  @media (max-width: $md4+px) {
    // font-size: $font-md4-1;
  }

  @media screen and (max-width: $md5+px) {
    // margin: 0 auto 6px;
    // display: none;
    // background: url(../images/icon_phoneBroun.jpg) no-repeat 0 center / 13px
    //   auto; //contain;
    // font-size: ($font-md4-1);
    // text-decoration: underline;
    // background: none;
    // padding: 0px 0 0px 20px;
  }
}

// .liaison-header__label
&__label {
  font-weight: 400;
  @include adaptiv-font(16,10,1);
  line-height: 24px;
  text-align: left;
  color: $pimary-brown;
}


// .liaison-header__request
  &__request {
    padding: 13px 40px;
    background:$black;
    border-radius: 10px;
    color: $white;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.6px;
    & .word {
      margin: 0 4px 0 0;
      
    }
    @media (max-width:$md2+px){
      padding: 13px 19px;        
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.6px;
    }
    @media (max-width:$md3+px){
      padding: 8px 15px;  
        flex-direction: column; 
        & .word {
          margin: 0;
        }
    }
    @media (max-width:$md4+px){
        display: none; 
    }

  }
}

.email-header {
  // .email-header__mail
  &__mail {
    // padding: 0 0 0 45px;
    color: $primary-black;
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    //font-size: 24px;
    @include adaptiv-font(24,18,1);
    line-height: 36px;
    text-align: left;

    // @media (max-width:$md1+px){
    //   font-size: 18px;
    //   line-height: 27px;
    // }
    @media (max-width:$md2+px){
      font-size: 18px;
      line-height: 27px;
    }

    // text-transform: uppercase;
    // font-variant: small-caps;
  }

}
