.logo {
  max-width: 288px;
  display: flex;
  align-items: center;
  color: #333;
  flex: 1 0 auto;
  // font-size: 14px;

  line-height: 1;
  &__img {
    height: auto;
    max-width: 64px;
    margin: 0px 17px 0px 0px;
    & img {
      // object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media (max-width:$md2+px){
      margin: 0px 8px 0px 0px;
    }
    @media screen and (max-width: 576px) {
      // max-width: 80px;
      margin: 0px 5px 0px 0px;
    }
    @media screen and (max-width: 400px) {
      max-width: 48px;
    }
  }
  // .logo__desciption
  &__desciption {
    max-height: 75px;
    
  }
  // .logo__title
  &__title{
    display: block;
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 24px;  
    // @include adaptiv-font(24,16,1);
    line-height: 31px;
    color: $font-logo;
    text-align: left;
    margin: 0px 0 2px 0;
    @media (max-width:$md2+px){
      font-size: 18px;
      line-height: 22px;
    }
  }
  // .logo__text
  &__text {
    display: block;
    font-family: "Oswald", serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    color: $font-logo;
    // @include adaptiv-font("14","12","1");    
    line-height: 21px;
    @media (max-width:$md1+px){
      font-size: 12px;
      line-height: 18px;
    }
    @media (max-width:$md4+px){
      font-size: 10px;
      line-height: 15px;  
    }
  }
}

.logo:hover {
  text-decoration: none;
  // color: #333;
}

.header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  // padding: 20px 30px;
  // .header__top
  &__container {
    max-width: 1276px;
    margin: 0 auto;
  }

  &__top {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: $bg-grey;
    max-width: calc(100% - 4px);
    margin: 0 auto;
    // padding: 20px 0 0 0;
    // margin: 20px 0 0 0;
    // width: 100%;

    // position: fixed;
    // z-index: 4;
    // background: #fff;

    // top: 0;
    // &._active {
    //   position: fixed;
    //   z-index: 4;
    //   background: #fff;
    // }
  }

  // .header__bottom
  &__bottom {
    background-color: $bg-elements;
    border-radius: 0px 0px 10px 10px;
  }

}


.top-header {
  // .top-header__container
  &__container {
    // padding: 20px 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    // margin: 0px 0px 10px 0px;
    padding: 0 20px;
    // @media screen and ( max-width: 450px){
    // 	padding: 0 10px;
    // }
    // @media (max-width: $md3+px) {
    //   padding: 0 10px;
    // }
    @media (max-width:$md2+px){
      padding: 20px;
      height: 90px;
    }
    @media (max-width:$md3+px){
      padding: 10px;
      // @include adaptiv-value(padding-right,20,7,1);
      // @include adaptiv-value(padding-left,20,7,1);
    }
    @media (max-width:$md4+px){
      // padding: 10px;
    }
  }
  // .top-header__liaison
  &__liaison {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    max-width: 721px;
    // width: 100%;
    @media (max-width:$md3+px){
        position: relative;
        z-index: 120;   
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 auto;//20px 0 auto;
    }
    @media (max-width:450px){
        margin: 0 auto 40px 0; // в бургере на 450 перенос пожтому такой брейк
        // padding: 0 20px 0 0;
    }
  }
}

.liaison-header{
// .liaison-header__column
  &__column {
      // flex: 0 1 30%;
      text-align: center;
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;
      // @include adaptiv-value(margin-right, 35, 1, 1);
      margin: 0 35px 0 0; 
      flex: 1 0 auto;
      @media (max-width:$md1+px){
          // flex: 1 1 33%;
        margin: 0 10px 0 0; 
      }
      @media (max-width:$md3+px){
          // margin: 0 0 5px 0; 
      }
      &_email {
        @media (max-width:$md3+px){
           margin: 0 10px 0 0; 
        }
      }      
      &_photo {
        @media (max-width:$md3+px){
           display: none; 
        }
      }
    }


// .liaison-header__column
  &__column:last-child {
    margin-right: 0;
  }
// .liaison-header__contacts
  &__contacts {

  }

// .liaison-header__label
  &__label {
  }


// .liaison-header__request
  &__request {
    padding: 13px 38px;
    background: $bg-elements;
    border-radius: 10px;
    color: $font-request;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.6px;
    & .word {
      margin: 0 4px 0 0;
      
    }
    @media (max-width:$md2+px){
      padding: 13px 19px;        
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.6px;
    }
    @media (max-width:$md3+px){
      // display: none; 
      padding: 8px 15px; 
      @include adaptiv-value(margin-right, 20, 5, 1);
      & .word {
          margin: 0;
      }
    }
    @media (max-width:656px){
      flex-direction: column;
    }
  
    @media (max-width:595px){
      display: none; 
    }


  }

  // .liaison-header__messengers
  &__messengers {}

		// .liaison-header__icon-menu
  &__icon-menu {
    
  }

}


.icon-menu {
  display: none;
  position: relative;
  // .icon-menu__before
      // transition: all 0.3s ease 0s;
  & * {
    transition: all 0.5s ease 0s;
  }
  &__before {
    // transition: all 0.5s ease 0s;
    position: relative;
    visibility: visible;
    opacity: 100%;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  &__after {
    // transition: all 0.5s ease 0s;
    position: relative;
    visibility: hidden;
    opacity: 0%;
    z-index: 7;
    top: 50%;
    left: 5%;
    transform: translateY(-48%);
    @media (max-width:$md3+px){
      left: -9%;
      transform: translateY(-50%);
    }

    // transform: translateX(-50%);
  }
  @media (max-width:$md3+px){
    display: block;
  // display: flex;
  // justify-content: center;
  // align-items: center;
    width: 64px;
    height: 64px;
    // cursor: pointer; 
    z-index: 10;
    background: black; //url('../images/icons/icon-menu.svg') no-repeat center;
    border-radius: 50%;
    span {
      display: none;
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $white;
      &:first-child {
        top: 24px;
      }
      &:last-child {
        top: auto;
        bottom: 24px;
      }
    }
  }
  @media (max-width:$md3+px){
    width: 48px;
    height: 48px;
  }

  &._active{
    & .icon-menu__before {
      visibility: hidden;
      opacity: 0%;
    }
    & .icon-menu__after {
      visibility: visible;
      opacity: 100%;
    }
   // background: black;
    // span {
    //   display: block;
    //   transform: scale(0);
    //   &:first-child{
    //     transform: rotate(-45deg);
    //     top: calc(50% - 1px);
    //   }
    //   &:last-child {
    //     transform: rotate(45deg);
    //     top: calc(50% - 1px);
    //   }
    // }
  }
  // .icon-menu__after



  
}




.email-header {
  // .email-header__mail
  &__mail {
    // padding: 0 0 0 45px;
    color: $primary-black;
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    //font-size: 24px;
    @include adaptiv-font(24,18,1);
    line-height: 36px;
    text-align: left;

    // @media (max-width:$md1+px){
    //   font-size: 18px;
    //   line-height: 27px;
    // }
    @media (max-width:$md2+px){
      font-size: 18px;
      line-height: 27px;
    }


    // text-transform: uppercase;
    // font-variant: small-caps;
  }

}


.messengers {
		// .messengers__whatsapp
		&__whatsapp {

      padding: 3px 0 3px 35px;
      background: url(../images/icons/whatsapp.svg) no-repeat;
      background-position: left 3px;
      background-size: 28px;
      margin: 9px 0 0 0;
        // &::before{
      //   display: inline-block;
      //   content:'';
      //   background: url('../images/icons/whatsapp.svg') no-repeat center/cover;
      //   width: 30px;
      //   height: 30px;
      // }

    }
		// .messengers__telegram
		&__telegram {
      padding: 3px 0 3px 35px;
      background-position: left 3px;
      background-size: 28px;
      background: url('../images/icons/telegram.svg') no-repeat left/30px;
    }
		// .messengers__viber
		&__viber {
      padding: 0 0 0 35px;
      background: url('../images/icons/viber.svg') no-repeat left/30px;
    }
}



.bottom-header {
		// .bottom-header__container
		&__container {
      // max-width: 1216px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px 0 30px;
      height: 48px;
      //  @media (max-width:$md1+px){
      //    max-width: $md11+px;
      // }     
      // @media (max-width:$md2+px){
      //    max-width: $md22+px;
      // }
      @media (max-width:$md3+px){
         height: 48px; 
      }
      @media (max-width:$md4+px){
        padding: 15px;
      }
    }
		// .bottom-header__menu
		&__menu {
    }

		// .bottom-header__search
		&__search {
      // align-self: c;
  
    }
    // .bottom-header__label
    &__label{
      @media (max-width:$md3+px){
         display: none; 
      }
    }

}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:$md3+px){

    }
    // .menu__body
		&__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 1.5s ease 0s;
    }

		// .menu__list
		&__list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: Oswald, sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      height: auto;

      & li{
        margin: 0 60px 0 0;
        @media (max-width:$md2+px){
          margin: 0 30px 0 0;
          font-size: 17px; 
        }
        @media (max-width:$md3+px){
           margin: 0 0 20px 0; 
        }
      }
    }
		// .menu__link
		&__link {
      color: $font-menu;
    }
    &__copyright {
      color: $font-menu;
      display: none;
    }
    // .menu__contacts
    &__contacts{
      display: none;
      @media (max-width:$md3+px){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    // .menu  @media
    @media (max-width:$md3+px){
      &__body{
        // display: flex;
        // justify-content: flex-start;
        // align-items: flex-start;
        // flex-direction: column;
        // padding: 20px;

        // visibility: hidden;
        
        position: fixed;
        transform: translateX(255%);
        right: 0;
        top: 90px;
        width: 100%;
        height: 1020px;
        background: #79a6ee9d; //#8ba9d8;#92A4BA
        justify-content: flex-end;
        z-index: 101;
        // overflow: auto;
        &._active{
            // visibility: visible;
            // opacity: 100%;
            transform: translateX(0%);
            // right: 0;
          }  
        // &::before{
        //   content: '';
        //   position: absolute;
        //   z-index: 99;
        //   width: 100%;
        //   height: 100vh;
        //   background: #79a6ee5b;
        // }
 
      }
      //.menu__wrapper
      &__wrapper{
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 20px;

        width: 320px;
        height: 1020px;

        overflow: auto;
        background: #79a6ee; //#8ba9d8;#92A4BA

      }
      &__copyright {
        position: relative;
        z-index: 120;
        display: block;
      }

 
      &__list {
        position: relative;
        z-index: 120;
        align-items: flex-start;
        flex-direction: column;
      }
  
      &__search{
        @media (max-width:$md3+px){
          //  display: none; 
        }
      }

    }
}

.second-words {
}



.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
      
  &__form{
    position: relative;
  }
  &__input{
    width: 182px;
    height: 30px;
    background: #F7F4F3;
    border-radius: 10px;
    // border: 1px solid rgb(8, 0, 0);
    @media (max-width:$md3+px){
      @include adaptiv-value(width,280,100,1);
      height: 25px;
    }
  }
  &__submit{
    position: absolute;
    right: 12px;    
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/icons/icon-search.svg') no-repeat center/cover;
    
  }

}


.phone, .email{
    font-size: 24px;
    line-height: 36px;
    max-width: 275px;

    @media screen and (max-width: 1100px) {
      font-size: 20px;
      line-height: 30px;
    }
    @media screen and (max-width: $md2+px) {
      font-size: 16px;
      line-height: 27px;
    }

    @media screen and (max-width: $md3+px) {
      // font-size: $font-md3-1;
    }
    @media (max-width: 580px) {
      // font-size: ($font-md4-1 + 3px);
    }
    @media (max-width: $md4+px) {
      // font-size: $font-md4-1;
    }

    @media screen and (max-width: $md5+px) {
      // margin: 0 auto 6px;
      // display: none;
      // background: url(../images/icon_phoneBroun.jpg) no-repeat 0 center / 13px
      //   auto; //contain;
      // font-size: ($font-md4-1);
      // text-decoration: underline;
      // background: none;
      // padding: 0px 0 0px 20px;
    }
}
.label {
    font-weight: 400;
    @include adaptiv-font(15,10,1);
    line-height: 24px;
    text-align: left;
    color: $font-elements;
    // padding: 0 0 0 7px;
    @media (max-width:$md3+px){
       line-height: 6px;

    }
}