.home {
  // padding: 0 0 60px 0;
  width: 100%;
  margin: 0 auto;
  padding: 61px 0 61px 30px;
  background: url("../images/home/bg-home.jpg") no-repeat right/945px;
  position: relative;
  height: 100%;
  @media (max-width: $md1+px) {
    height: 100%;
  }
  @include adaptiv-value(padding-bottom, 50, 15, 1);

  & a {
    color: inherit;
  }
  // .home__container
  &__container {
  }
  // .home__btn
  &__btn {
    margin: 0 auto 30px auto;
    // font-size: 40px;
    @include adaptiv-font(40, 18, 1);
    max-width: 550px;
    background: #545454 url(../images/icon_sprite_2.webp) no-repeat 51px -1481px;
    border-radius: 0;
    text-transform: none;
    // @media (max-width: $md2+px) {
    //   font-size: 20px;
    // }
    // @media (max-width: $md3+px) {
    //   font-size: 17px;
    // }
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // margin: 0px 0px 20px 0px;
    // padding: 150px 0;
    // @include adaptiv-value(padding-top, 50, 10, 1);
    // @include adaptiv-value(padding-bottom, 40, 10, 1);
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
    // align-items: center;
    // margin: -200px 0px 0px 0px;
  }

  // .home__title
  &__title {
    position: relative;
    top: 0;
    left: 0;
    color: $black-font;
    font-family: Montserrat;
    font-weight: 900;
    max-width: 658px;
    height: 144px;
    @include adaptiv-value(margin-bottom, 50, 20, 1);
    @media (max-width: $md2+px) {
      font-size: 40px;
    }
    @media (max-width: $md3+px) {
      font-size: 33px;
    }
    @media (max-width: $md3+px) {
      font-size: 29px;
    }
    @media (max-width: $md4+px) {
      font-size: 25px;
    }
  }
  // .home__list
  &__list {
    width: 50%;
    // margin: 15px 0px 0px auto;
    margin: 0px auto 0 0;
    font-size: 24px;
    line-height: 36px;
    @media (max-width: $md3+px) {
      // margin: 15px auto 0px 0px;
      width: 80%;
    }
  }
  // .home__link
  &__link {
    text-decoration: initial;
    &:visited{
      text-decoration: Violet;
    }
    // border-bottom: 1px dashed $light;
  }
  // .home__item
  &__item {
    width: 100%;
    display: inline-block;
    color: $black-font;
    margin: 0px 0px 20px 0px;
    padding: 10px 20px 15px;
  }
  // .home__item--inversion
  &__item--inversion {
    display: block;
    color: rgb(50, 50, 50);
    background-color: #fff;
    max-width: 550px;
    flex: 0 1 50%;
    // min-height: 160px;
    height: 100%;
    line-height: 130%;
    margin: 0 auto 30px auto;
    @include adaptiv-font(30, 15, 1);
    & > .top-home__link {
      border-bottom: 1px dashed $bg-title;
      text-transform: uppercase;
    }
  }
  // .home__bottom
  &__bottom {
    padding: 30px 0 0 0;
  }
}

//.title__header
.title {
  &__header {
    font-size: 48px;
    line-height: 59px;
    color: inherit;
  }
  &__text {
    font-size: 36px;
    line-height: 44px;
    color: inherit;
  }
}


