@charset "UTF-8";

//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "ProximaNova", Arial, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "variables";
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1276;
$md1: $maxWidthContainer - 20; //+20-это скрол на десктопе
$md11: 960;
$md2: 1000.98;
$md22: 728;
$md3: 768.98;
$md4: 480.98;
$md5: 400.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
  font-family: Oswald, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

@media(hover: hover) and (pointer: fine) {
    nav a:hover {
        background: yellow;
    }
}

* {
-webkit-tap-highlight-color: transparent;
} 


//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    // max-width: 970px;
  }
  @media (max-width: $md2+px) {
    // max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    // padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";

//@import "pagging";
@import "swiper-bundle";
@import "../../node_modules/lightgallery/css/lightgallery-bundle";
@import "fslightbox";
@import "fslightbox-my";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
	// .page__img
}

.img-page {

    position: absolute;
    left: 51%;
    top: -870px;
    
  //  top: 256px;//5%;
    width: 1000px;
    height: auto;
    z-index: 1;
    @media (max-width:$md2+px){
        @include adaptiv-value(width,1500,700,1);
        // top: 330px;
        // left: 75%
        top: -770px;
        left: 60%;        
    }
    @media (max-width:$md3+px){

        // width: 330px;
        top: -670px;
        left: 75%;
    }
    @media (max-width:$md4+px){

        // width: 330px;
        @include adaptiv-value(top, -500, -120, 1); 
        // top: -140px;
        left: 55%;
        @include adaptiv-value(width,1100,200,1);
    }  
		// .img-page__bg
		&__bg {
      width: 100%;
      height: 100%;
    }
}




//===================================================================================================================================





// @import "mixins";
// @import "fonts";
// @import "zerostyle";
// @import "techstyle";



@import "_elements_ui";
@import "header";
// @import "menu";
// @import "page";
@import "menu-mobile";
@import "home";
@import "basic";
@import "behelpful";
@import "advantages";
@import "projects";
@import "info";
@import "clients";
@import "usage";
@import "popup";
@import "footer";
@import "my_ui";


