$primary: #b28d7d;
$primary-font: #b28d7d;
$primary-dark: #6d574d;
$primary-black: #292929;
$pimary-brown: #95564E;
$font-primary:  white;// #000000;
$font-logo: black;
$font-menu: black;
$font-request: $font-menu;
$dark: #333333;
$black: #000000;
$black-font: #000000;
$light: #fff; // #000;
$secondary: #959595;
$secondary-menu: #ebebeb;
$grey-brown: #ebebeb;
$black-media: #252525;
$dark-grey: #363636;
$bg-grey: #F7F4F3;  // верхняя часть меню
$bg-black: black;
$bg-title: rgba(100, 100, 100, 0.95);
$bg-lite-grey: #f0f0f0;
$white:  #fff; // #000;
$bg-elements: #90baff;//#79a6ee; //#8ba9d8;#92A4BA
$font-elements: #000000;


// $font-md1-1: 24px; //1276
// $font-md2-1: 18px; //1000
// $font-md3-1: 16px; //768
// $font-md4-1: 14px; //480
// $font-md5-1: 12px; //399

// $font-md1-1: 24px; //1276
// $font-md2-2: 18px; //1000
// $font-md3-3: 16px; //768
// $font-md4-4: 14px; //480
// $font-md4-5: 12px; //399


$margin-swiper-arrow: 30px;
