$primary: #b28d7d;
$primary-font: #b28d7d;
$primary-dark: #6d574d;
$dark: #333333;
$black: #181818;
$light: #fff;
$secondary: #959595;
$secondary-menu: #ebebeb;
$grey-brown: #ebebeb;
$black-media: #252525;
$dark-grey: #363636;
$bg-title: rgba(100, 100, 100, 0.95);
$bg-lite-grey: #f0f0f0;

$font-phone-md1: 32px;
$font-phone-md2: 28px;
$font-phone-md3: 25px;
$font-phone-md4: 20px;
$font-phone-md5: 15px;

$margin-swiper-arrow: 30px;
