<div class="news_item">
    <div class="date answer_t">Ответ на вопрос:</div>
    <?php echo $GLOBALS['tpl_item']['text']; ?>
</div>

<a class="page_back" href="../">&laquo; на страницу Вопрос ответ</a>
<div class="clear"></div><br />

<?php if (!empty($GLOBALS['tpl_another_faq'])): # блок "Другие вопросы-ответы" ?>
<div class="h4">Другие вопросы</div>

<?php foreach ($GLOBALS['tpl_another_faq'] as $item): ?>
<div class="news_item"><a class="news_item_a" href="/vopros/<?php echo $item['url']; ?>/"><?php echo $item['h1']; ?></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/vopros/<?php echo $item['url']; ?>/">Подробнее &raquo;</a></div>
<?php endforeach; ?>
<?php endif; # /блок "Другие вопросы-ответы" ?>