<div class="reviews_p">
    <div class="review_b">
        <div class="cont">
            <?php echo $GLOBALS['tpl_item']['feedback']; ?>
        </div>

        <div class="est" data-feedback-id="<?php echo $GLOBALS['tpl_item']['id']; ?>">
            <a href="#" class="plus customer-feedback-vote" data-action="plus"></a><div class="feedback-votes-plus-<?php echo $GLOBALS['tpl_item']['id']; ?>">+<?php echo $GLOBALS['tpl_item']['votes_plus']; ?></div>
            <a href="#" class="minus customer-feedback-vote" data-action="minus"></a><div class="feedback-votes-minus-<?php echo $GLOBALS['tpl_item']['id']; ?>">-<?php echo $GLOBALS['tpl_item']['votes_minus']; ?></div>
        </div>
        <div class="name"><?php echo $GLOBALS['tpl_item']['name']; ?>, <?php echo $GLOBALS['tpl_item']['date_add_day'].' '.$GLOBALS['tpl_item']['date_add_month'].' '.$GLOBALS['tpl_item']['date_add_year']; ?></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <a class="page_back" href="../">&laquo; на страницу Отзывы</a>
    <div class="clear"></div>

    <a class="order_btn_1" href="#review_modal" data-toggle="modal">Написать отзыв</a>
    <div class="clear"></div>

    <?php if (!empty($GLOBALS['tpl_another_feedback'])): # блок "Другие статьи" ?>
    <div class="h4">Другие отзывы</div>

    <?php foreach($GLOBALS['tpl_another_feedback'] as $item): ?>
    <div class="review_b">
        <div class="cont">
            <?php echo $item['feedback']; ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/otzyvy/<?php echo $item['id']; ?>/">Подробнее &raquo;</a>
        </div>

        <div class="est" data-feedback-id="<?php echo $item['id']; ?>">
            <a href="#" class="plus customer-feedback-vote" data-action="plus"></a><div class="feedback-votes-plus-<?php echo $item['id']; ?>">+<?php echo $item['votes_plus']; ?></div>
            <a href="#" class="minus customer-feedback-vote" data-action="minus"></a><div class="feedback-votes-minus-<?php echo $item['id']; ?>">-<?php echo $item['votes_minus']; ?></div>
        </div>
        <div class="name"><?php echo $item['name']; ?>, <?php echo $item['date_add_day'].' '.$item['date_add_month'].' '.$item['date_add_year']; ?></div>
        <div class="clear"></div>
    </div>
    <?php endforeach; ?>
    <?php endif; # /блок "Другие статьи" ?>
</div> <!-- /.reviews_p -->