<div class="news_item">
    <div class="date"><?php echo $GLOBALS['tpl_item']['date_add_day'].' '.$GLOBALS['tpl_item']['date_add_month'].' '.$GLOBALS['tpl_item']['date_add_year']; ?></div>

    <?php if (!empty($GLOBALS['tpl_item']['image'])): ?>
    <div><img src="/public/images/news/<?php echo $GLOBALS['tpl_item']['image']; ?>" alt="<?php echo htmlspecialchars($GLOBALS['tpl_item']['h1'], ENT_QUOTES); ?>" /></div>
    <?php endif; ?>

    <?php echo $GLOBALS['tpl_item']['text']; ?>
</div>

<a class="page_back" href="../">&laquo; на страницу Новости</a>
<div class="clear"></div><br />

<?php if (!empty($GLOBALS['tpl_another_news'])): # выводим блок "Другие новости" ?>
<div class="h4">Другие новости</div>

<?php foreach($GLOBALS['tpl_another_news'] as $item): ?>
<div class="news_item">
    <div class="date"><?php echo $item['date_add_day'].' '.$item['date_add_month'].' '.$item['date_add_year']; ?> года</div>
    <a class="news_item_a" href="/novosti/<?php echo $item['date_add_formatted_2']; ?>"><?php echo $item['h1']; ?></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/novosti/<?php echo $item['date_add_formatted_2']; ?>/">Подробнее &raquo;</a>
</div>
<?php endforeach; ?>

<?php endif; # /выводим блок "Другие новости" ?>